langchain
langchain-ollama
langchain-chroma
beautifulsoup4
flask
cachetools
pandas
scikit-learn
paho-mqtt
#tensorflow
docling
jsonify

# pip install -r requirements.txt

# Salvar no GitHub: git add .    git commit -m "grafico painel atualizado horas antes"      git push 

# venv\Scripts\activate

