langchain
langchain-ollama
langchain-chroma
langchain-community
beautifulsoup4
flask
cachetools
pandas
scikit-learn
paho-mqtt
tensorflow
docling
jsonify
pyaudio
librosa
faiss-cpu
Flask[async]
tensorflow_hub 
dotenv
sounddevice
langchain_google_genai
google.generativeai

pyserial
bleak

# Deixar pasta do projeto TCC na msm do Ollama para IA funcionar

# pip install -r requirements.txt

# Salvar no GitHub: git add .    git commit -m "insights + login"      git push 

# venv\Scripts\activate
# C:\Users\caiot\AppData\Local\Temp\tfhub_modules\9616fd04ec2360621642ef9455b84f4b668e219e

# python -m PyInstaller --onefile --noconsole --name="TCC_Asma" --add-data="templates;templates" --add-data="static;static" --add-data="model_artifacts;model_artifacts" --add-data="dados;dados" --add-data="faiss_index;faiss_index" --add-data="modelo_crise_asma.pkl;." --add-data="max30102_calibration.json;." --add-data=".env;." app.py
