langchain
langchain-ollama
langchain-chroma
beautifulsoup4
flask
cachetools
pandas
scikit-learn
paho-mqtt
tensorflow
docling
jsonify
pyaudio

# pip install -r requirements.txt

# Salvar no GitHub: git add .    git commit -m "grafico conta tosse ok"      git push 

# venv\Scripts\activate

